body
{
  margin:0;
  width: 100%;
}
*
{
  box-sizing: border-box;
}

/*estilos de header*/
.header-containter
{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  margin-top: auto;
  background: #FFFFFF;
  padding: 0 7vw;
  box-shadow: 0 1px 10px -6px rgba(0,0,0,0.42),
              0 1px 10px 0 rgba(0,0,0,0.12),
              0 4px 5px -2px rgba(0,0,0,0.1);
}
.header-containter img
{
  width: 10%;
}
.header-containter nav
{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.header-containter nav a
{
  font-size: 1em;
  padding: 0 1vw;
  text-decoration: none;
  color: #555555;
  font-family: 'Mada', sans-serif;
  transition-duration: 500ms;
  transition-property: color;
}
.header-containter nav a:hover
{
    color:#7980FB;
}



/*estilos de la seccion 1*/
.seccion1
{
  background: #F3F2F2;
  width: 100%;
  padding: 15vw 1vw 5vw 1vw;
  display: flex;
  flex-direction: row;
}
.s_1_izq
{
 width: 60%;
}
.seccion1 img
{
  width: 40%;
}
.seccion1_titulo
{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 3.5em;
  letter-spacing: -4px;
  margin: 0;
  color: #7980FB;
  text-align: left;
}
.seccion1_texto
{
  font-family: 'Mada', sans-serif;
  font-size: 1.5em;
  color:#3C4858;
  text-align: left;
}
.seccion1_botones
{
  display: flex;
  flex-direction: row;
}
#boton1
{
  width: 30%;
  text-align: center;
  margin: 2vw 2vw 2vw 0;
  padding: .8vw;
  font-family: 'Mada', sans-serif;
  text-decoration: none;
  color: white;
  background: #FFCD40;
  border-radius: 7vw;
  transition: 500ms all;
  z-index: 1;
}
#boton1:hover
{
  background: #7980FB;
  transform: scale(1.1);
}
#boton2
{
  background: #F3F2F2;
  width: 30%;
  text-align: center;
  margin: 2vw 2vw 2vw 0;
  padding: .8vw;
  font-family: 'Mada', sans-serif;
  text-decoration: none;
  color: #ABABAB;
  border-radius: 7vw;
  border: 1px solid #ABABAB;
  transition:500ms all;
  }
  #boton2:hover
  {
    border:1px solid #FFCD40;
    background: #FFF1C8;
    color: #FFCD40;
    transform: scale(1.1);
  }
.seccion1 a
{
  font-family: 'Mada', sans-serif;
  color: #ABABAB;
  text-decoration: none;
  transition-duration: 500ms;
  transition-property: color;
}
.seccion1 a:hover
{
  color: #FFCD40;
}

/*estilos de la seccion 2*/
.seccion2
{
  background: #E5E5E5;
  width: 100%;
  padding: 8vw 10vw;
  display: flex;
  flex-direction: row;
}
.seccion2 img
{
  width: 40%;
}
.seccion2_texto
{
  font-family: 'Mada', sans-serif;
  font-size: 2em;
  color:#3C4858;
  text-align: right;
}
.seccion2_botones
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'Mada', sans-serif;
  font-size: 1.2em;
}
.seccion2_botones p
{
  border-top: 2px solid #7980FB;
  margin: 0;
  padding-top: 1vw;
  float: right;
  color: #7A7A9C;
}
.seccion2_botones a
{
  padding-top: 1vw;
  text-decoration: none;
  color: #8B8FD1;
  transition: 500ms color;
}
.seccion2_botones a:hover
{
  color: #B7BAE4;
}

/*estilos de la seccion 3*/
.seccion3
{
  background: #FFD67A;
  padding-bottom: 10vw;
}
.seccion3 p[class="seccion1_titulo"]
{
  text-align: center!important;
  padding: 8vw;
}
.contenedor_seccion3
{
  padding: 0 18vw;
}

/*seccion emprende*/
.seccion-academica
{
  display: flex;
  flex-direction: row;
  margin: 5vw 0;
  animation: 1s "slideInLeft"; 
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.img
{
  width: 50%;
  border-radius: 2vw;
  object-fit: cover;
}
.academica-texto
{
  width: 50%;
  margin-left: 5vw;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Mada', sans-serif;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
}
.titulo
{
  color: #54595F;
  padding-bottom: 2.5vw;
  margin-bottom: 2.5vw;
  margin-top: 0!important;
  border-bottom: 2px solid #7980FB;
}
.subtitulo
{
  margin: 0!important;
  font-size: 1.5em;
}
.lista
{
  padding: 0;
  list-style: none;
  color: #54595F;
}
/*seccion academica del medio*/
.academica-medio
{
  width: 50%;
  margin-right: 5vw;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Mada', sans-serif;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
}
.titulo-medio
{
  color: #54595F;
  padding-bottom: 2.5vw;
  margin-bottom: 2.5vw;
  margin-top: 0!important;
  border-bottom: 2px solid #7980FB;
  text-align: right;
}
.subtitulo-medio
{
  margin: 0!important;
  font-size: 1.5em;
  text-align: right;
}
.lista-medio
{
  padding: 0;
  list-style: none;
  color: #54595F;
  text-align: right;
}
/*seccion 4*/
.seccion4
{
  background: #7A7A7A;
  padding: 18vw 0;
  display: flex;
  flex-direction: column;
}
.seccion4 p
{
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 3.5em;
  color: white;
  text-align: center;
}
.seccion4-botones
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#boton3
{
  width: 20%;
  text-align: center;
  margin: 2vw 2vw 2vw 0;
  padding: .8vw;
  font-family: 'Mada', sans-serif;
  text-decoration: none;
  color: #7A7A7A;
  background: #FFCD40;
  border-radius: 7vw;
  transition: 500ms all;
}
#boton3:hover
{
  background: #7980FB;
  transform: scale(1.1);
  color: white;
}
#boton4
{
  background: #F3F2F2;
  width: 20%;
  text-align: center;
  margin: 2vw 2vw 2vw 0;
  padding: .8vw;
  font-family: 'Mada', sans-serif;
  text-decoration: none;
  color: #7A7A7A;
  border-radius: 7vw;
  border: 1px solid #ABABAB;
  transition: 500ms all;
  }
  #boton4:hover
  {
    background: #9B976F;
    color: #FFCD40;
    border: 1px solid #FFCD40;
    transform: scale(1.1);
  }

/*footer*/
footer
{
  background: #323437;
  padding: 2vw;
}
footer p
{
  font-family: 'Mada', sans-serif;
  color: white;
  text-align: right;
  padding-right: 7vw;
}
